.table-list {
    table {
        width: 100%;
    }
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 5px !important;
}

td.mat-cell.style-cell {
    font-size: 12px;
    font-weight: 500;
    color: #596679;
}

td.mat-cell.style-cell:hover {
    cursor: pointer;
    font-style: italic;
}

/*
    Pendente: #FADBD8
    Completo: #FAE5D3
    Inativo: #E8DAEF
    Aprovado: #D1F2EB
    Integrado: #D6DBDF
*/

.chip {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}

.chip-standard {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    height: 1px;
    
    color: rgba(0,0,0,.87);
    font-size: 0.9em;
}

.chip-Pendente {
    background-color: #EBDEF0;
}

.chip-Completo {
    background-color: #FAE5D3;
}

.chip-Inativo {
    background-color: #E8DAEF;
}

.chip-Aprovado {
    background-color: #D1F2EB;
}

.chip-Integrado {
    background-color: #D6DBDF;
}