@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.table-list {
    table {
        width: 100%;
    }
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 5px !important;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.mat-card.filtro-card {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.produto-fields {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.td-descricao-descarte {
    text-decoration: line-through;
    font-style: italic;
}

.step-button-next {
    background-color: #673AB7; //#BB8FCE;
    color: #fff;
}

.step-button-return {
    color:darkgrey;
}

.step-content {
    margin-left: 10px;
    border: 0;
    position: relative;
}

.step-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.textarea-style {
    font-size: 1.3em;
    //font-weight: 600;
    color: rgba(0,0,0,.70);
    min-height:80px;    
}

.step-hint {
    font-size: 1.4em;
}

.mat-card-div {
    /*background: #fff;
    color: rgba(0,0,0,.87);*/

    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 20px;

    font-family: Roboto,"Helvetica Neue",sans-serif;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}

.mat-card-content-div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.mat-card-content-div:first-child {
    margin-top: 0;
}

.info-etapa {
    font-weight:500;
    padding-left: 30px;
}