@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.mat-card.filtro-card {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.descricao-fields {
    display: grid;
    //grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.input-style {
    font-size: 1.3em;
    color: rgba(0,0,0,.70);
    min-height:40px;
}

.textarea-style {
    font-size: 1.3em;
    color: rgba(0,0,0,.70);
    min-height:80px;
}

.step-config {
    margin: 0 0 20px 16px;
}

.step-title {
    outline: 0;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
}

.step-icon {
    margin-right: 8px;
    background-color: #673ab7;
    color: #fff;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: relative;
}

.step-icon-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.step-hint {
    font-size: 1.4em;
}